<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>egoSlider: Visual Analysis of Egocentric Network Evolution</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="lib/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet"/>
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/userstudy.css">
</head>
<body ng-app="vishope">
    <div class="container" id="task-ui">
	<div class="row title">
	    <h3>
		Tasks for {{ name }}:
	    </h3>
	</div>
	<div class="row">
	    <div class="col-md-6 task-wrapper">
		<div class="task" id="task1">
		    <div class="task-title">
			<h3>Meso-level Task</h3>
			<h3 style="text-align: center;">
			{% if f1 %}
			    <i class="fa fa-check task-mark"></i>
			{% endif %}
			</h3>
		    </div>
		</div>
	    </div>
	    <div class="col-md-6 task-wrapper">
		<div class="task" id="task2">
		    <div class="task-title">
			<h3>Micro-level Task</h3>
			<h3 style="text-align: center;">
			{% if f2 %}
			    <i class="fa fa-check task-mark"></i>
			{% endif %}
			</h3>
		    </div>
		</div>
	    </div>
	</div>
	<div class="row title">
	    <h3 class="col-md-2" style="text-align: left">
		<a href="./userstudy">Go back</a>
	    </h3>
	</div>
    </div>
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/jquery-ui/jquery-ui.js"></script>
    <script src="lib/lodash/dist/lodash.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/d3/d3.min.js"></script>
    <script src="lib/d3-tip/index.js"></script>
    <script src="lib/geom/geom.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/angular-ui-date/src/date.js"></script>
    <script src="lib/contour-map/conrec.js"></script>

    <script>
	$('#task1').click(function() {
	    window.location.href = './task1';
	});

	$('#task2').click(function() {
	    window.location.href = './task2';
	});
    </script>

    <script src="scripts/app.js"></script>
    <script src="scripts/filter/util.js"></script>
    <script src="scripts/services/dataService.js"></script>
    <script src="scripts/services/pipService.js"></script>
    <script src="scripts/services/egoVisService.js"></script>
    <script src="scripts/services/overviewVisService.js"></script>
    <script src="scripts/controllers/mainviewCtrl.js"></script>
    <script src="scripts/controllers/uiCtrl.js"></script>
    <script src="scripts/controllers/rightCtrl.js"></script>
    <script src="scripts/controllers/tableCtrl.js"></script>
    <script src="scripts/controllers/dataSelectorCtrl.js"></script>
    <script src="scripts/controllers/queryFilterCtrl.js"></script>
    <script src="scripts/controllers/overviewCtrl.js"></script>
    <script src="scripts/directives/tableAttrDirective.js"></script>
    <script src="scripts/directives/scrollDirective.js"></script>
    <script src="scripts/directives/egoDirective.js"></script>
    <script src="scripts/directives/tableDirective.js"></script>

</body>
</html>
